body {
  font-family: arial, verdana;
  font-weight: 500;
}

h1 {
text-align: center;
color: #0e0af0;
}

h2 {
  text-align: center;
  color: #0e0af0;
  }

.square-red {
  background-color: red;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: 100px;
}
